* {
    margin: 0;
    padding: 0;
}

html,
body,
#wrapper,
main,
.sidebar {
    height: 100%;
}

body {
    min-height: 100%;
    color: rgb(89, 89, 89);
    font-size: 18px;
}

body,
.search input[type=text] {
    font-family: 'Bahnschrift Condensed', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(89, 89, 89);
}

a:hover {
    text-decoration: none;
    color: rgb(89, 89, 89);
    font-weight: bolder;
}

.initial-header {
    background-color: rgb(242, 242, 242);
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right
}

.search input[type=text] {
    padding: 5px;
    margin-top: 15px;
    font-size: 16px;
    border: none;
    outline-color: rgb(255, 255, 110);
    color: rgb(0, 33, 63);
}

.search button {
    float: right;
    padding: 6px 10px;
    margin-top: 14px;
    margin-right: 16px;
    background: rgb(245, 245, 150);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

#img-button {
    width: 15px;
}

button:hover {
    background: rgb(219, 156, 255);
}

img {
    max-width: 100%;
}

.logo {
    display: inline-block;
    text-align: center;
}

#lamp-logo {
    max-width: 80px;
}

#text-logo {
    max-width: 400px;
    position: relative;
    top: -35px;
    left: -25px;
    border-bottom: 1px;
    border-bottom-color: rgb(166, 166, 166);
    border-bottom-style: dashed;
    padding-top: 2%;
    padding-bottom: 1%;
}

.list.list-horizontal {
    position: relative;
    top: -20px;
    font-style: normal;
}

.uppercase {
    text-transform: uppercase;
}

.list.list-horizontal li {
    display: inline-block;
}

.list.list-horizontal li a {
    padding-left: 15px;
}

.list.list-horizontal li a:hover {
    color: crimson;
}

/* MAIN BOOKS AND SIDEBAR */

.text-left {
    text-align: left;
}

.sidebar {
    float: left;
    width: 15%;
    font-size: 16px;
    background: yellow;
}

.books {
    float: left;
    width: 79%;
}

.sidebar,
.books,
.current-book {
    margin-top: 20px;
    margin-left: 2%;
}

.item-container {
    margin-top: 2%;
    margin-bottom: 2%;
}

.item-container .item {
    width: 22%;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin-left: 2%;
    border-bottom: 1px rgb(122, 122, 122) dashed;
    padding-bottom: 1%;
}

.img-container img {
    padding: 2%;
    max-width: 300px;
    max-height: 300px;
    border: 1px rgb(190, 190, 190) dashed;
}

.book-info {
    color: rgb(201, 137, 0);
    font-size: 14px;
}

.italic {
    font-style: italic;
}

.author {
    font-size: 14px;
}

/* CURRENT BOOK CSS */

.inline {
    display: inline-block;
}

.book-img-container,
.book-container,
.author-photo {
    float: left;
}

.author-photo {
    width: 20%;
    margin-top: 9%
}

.author-photo img {
    max-width: 100%;
    border-radius: 50%;
}

.book-img-container {
    width: 30%;
    padding-top: 2%;
    padding-left: 2%;
    text-align: center;
    /* border: 1px black solid; */
}

.book-img-container>img {
    box-shadow: 3px 3px 2px grey;
}

.book-container {
    width: 45%;
    padding: 10px;
    /* border: 1px black solid; */
}

#book-title {
    border-top: 1px rgb(122, 122, 122) dashed;
    border-bottom: 1px rgb(122, 122, 122) dashed;
    margin: 3%;
    padding-top: 2%;
    padding-bottom: 1%;
}

.book-info-container,
.current-book-info-container {
    float: left;
    padding-bottom: 1.5%;
    border-bottom: 1px rgb(122, 122, 122) dashed;
}

.current-book-info-container {
    width: 54%;
}

.book-info-container {
    width: 20%;
    color: rgb(201, 137, 0);
    padding-right: 3%;
}

.book-sum {
    padding: 10px;
    font-family: 'Book Antiqua';
    font-size: 15px;
    text-align: justify;
}

p::first-letter {
    font-size: 200%;
    font-style: italic;
}

/* COMMENTS */

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.comments {
    float: left;
    width: 75%;
    margin-top: 2%;
    margin-left: 5.5%;
    border-bottom: 1px rgb(122, 122, 122) dashed;
}

.comments-container>a:hover {
    color: goldenrod;
}

#textarea {
    float: right;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    color: rgb(163, 163, 163);
    border: 1px rgb(179, 179, 179) solid;
    border-radius: 1%;
}

/* FOOTER */

/* footer {
    position: relative;
    background: rgb(0, 0, 0);
    height: 100px;
}

footer p {
    text-align: left;
    color: white;
} */