* {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(89, 89, 89);
    font-size: 16px;
}

body,
.search input[type=text] {
    font-family: 'Bahnschrift Condensed', sans-serif;
}

.initial-header {
    background-color: rgb(242, 242, 242);
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right
}

.search input[type=text] {
    padding: 5px;
    margin-top: 15px;
    font-size: 1em;
    border: none;
    outline-color: rgb(255, 255, 110);
    color: rgb(0, 33, 63);
}

.search button {
    float: right;
    padding: 6px 10px;
    margin-top: 14px;
    margin-right: 16px;
    background: rgb(245, 245, 150);
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

#img-button {
    width: 15px;
}

button:hover {
    background: rgb(219, 156, 255);
}

img {
    max-width: 100%;
}

.logo {
    display: inline-block;
    text-align: center;
}

#lamp-logo {
    max-width: 80px;
}

#text-logo {
    max-width: 400px;
    position: relative;
    top: -35px;
    left: -25px;
    border-bottom: 1px;
    border-bottom-color: rgb(166, 166, 166);
    border-bottom-style: dashed;
    padding-top: 2%;
    padding-bottom: 1%;
}

.list.list-horizontal {
    position: relative;
    top: -20px;
    font-style: normal;
    text-transform: uppercase;
}

.list.list-horizontal li {
    display: inline-block;
}

.list.list-horizontal li a {
    text-decoration: none;
    color: rgb(89, 89, 89);
    padding-left: 15px;
}

.list.list-horizontal li a:hover {
    color: crimson;
    font-weight: bolder;
}

/* MAIN BOOKS AND SIDEBAR */


.text-left {
    text-align: left;
}

.sidebar {
    float: left;
    width: 20%;
}

.books {
    float: left;
    width: 80%;
}

.sidebar,
.books {
    margin-top: 20px;
}

.item-container {}

.item-container .item {
    width: 24%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.img-container img {
    max-width: 300px;
    max-height: 300px;
}