<img id="author-cover" src="{{cover}}" alt="">

<hr>

<div class="row ">
    <div class="col-lg-3 col-md-3 col-sm-0 col-xs-0">
        <img class="author-photo" src="{{authorPhoto}}" alt="">
    </div>
    <div class="col-lg-9 col-md-0 col-sm-0 col-xs-0">
        <div class="row author-info">

            <div class="name col-lg-12 col-md-12 col-sm-0 col-xs-0">
                <a id="author-name" href="#">{{name}}</a>
                <hr>
            </div>

            <div class="artist-info-container col-3 info text-right">
                Born in:
            </div>
            <div class="current-artist-info-container col-7">
                {{birthPlace}}
            </div>
            <div class="artist-info-container col-3 info text-right">
                Born:
            </div>
            <div class="current-artist-info-container col-7">
                {{born}}
            </div>
            <div class="artist-info-container col-3 info text-right">
                Died:
            </div>
            <div class="current-artist-info-container col-7">
                {{died}}
            </div>
        </div>
    </div>
</div>

<hr>

<div class="col-11">
    <h3 class="uppercase custom-info">Biography</h3>

    <p class="bio">{{bio}}</p>
</div>

