
<style>
    
#author-cover {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 3%;
}

#author-bio {
    text-align: justify;
    font-family: 'Book Antiqua';
    font-size: 15px;
}

#author-bio::first-letter{
    font-size: 28px;
    font-style: italic;
}
</style>

<div class="row justify-content-center">
    <div class="text-center col-lg-12 col-md-12 col-sm-0 col-xs-0">
        <img id="author-cover" src="{{cover}}" alt="">
    </div>
    <hr>

    <div class="row justify-content-center" style="padding-top: 2%">
        <!-- <div class="text-center col-lg-5 col-md-12 col-sm-0 col-xs-0">
            <img id="author-photo" src="{{authorPhoto}}" alt="">
        </div> -->

        <div class="col-lg-12 col-md-0 col-sm-0">
            <hr>
            <div>
                <h1 class="uppercase">{{name}}</h1>
            </div>

            <div class="row">
                <div class=" col-4  text-right">
                    Birth place:
                </div>
                <div class=" col-8">
                    {{birthPlace}}
                </div>
                <div class=" col-4  text-right">
                    Born:
                </div>
                <div class=" col-8">
                    {{born}}
                </div>
                <div class=" col-4 text-right">
                    Died:
                </div>
                <div class=" col-8">
                    {{died}}
                </div>
            </div>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-0 col-xs-0">
                <p id="author-bio"> {{bio}}</p>
            </div>
            <hr>

        </div>
    </div>
</div>